@blue: #0074e6;
@yellow: #fff8b0;
@red: #c72f2f;
@green: #538a2a;

.social {
    i {
        font-size: 48px;
        line-height: 48px;
    }
    padding-bottom: 15px;
}

.avatar {
  width: 64px;
}

.popup_addcontact_form form {
  padding: 5px 15px;
}
