ul.social {
  padding-bottom: 15px;
}
ul.social li i {
  position: absolute;
  top: 15px;
  font-size: 48px;
  line-height: 48px;
  display: inline-block;
}
ul.social li .uname {
  margin-left: 70px;
  font-size: 20px;
  padding: 14px 0;
  display: inline-block;
}
ul.contact .key {
  margin-top: 2px;
  margin-bottom: 8px;
}
ul.contact .value {
  font-size: 16px;
  margin-bottom: 0;
}
.avatar {
  width: 64px;
}
div[data-role="popup"] form {
  padding: 5px 15px;
}
#popup_addcontact_address {
  width: 280px;
}
#popup_addcontact_address textarea {
  height: 30px;
}
#privilege_form li label {
  display: inline-block;
  width: 202px;
}
#privilege_form li label .key {
  font-size: 17px;
  margin-left: -2px;
}
#privilege_form li label .value {
  font-size: 14px;
  font-weight: normal;
}
#search_friend {
  position: absolute;
  top: 2px;
  left: 74px;
  padding: 4px 11px;
  width: 180px;
  font-size: 15px;
}
