.social {
  padding-bottom: 15px;
}
.social i {
  font-size: 48px;
  line-height: 48px;
}
.avatar {
  width: 64px;
}
.popup_addcontact_form form {
  padding: 5px 15px;
}
#search_friend {
  position: absolute;
  top: 2px;
  left: 74px;
  padding: 4px 11px;
  width: 180px;
  font-size: 15px;
}
