@import "global.less";

::selection {
	background: @color-sel;
	color: white;
	text-shadow: none;
}

body {
	margin: 0;
	overflow: hidden;
	height: 100%;
	-webkit-font-smoothing: antialiased;
	font-size: @font-m;
	color: @color-font;
	line-height: 1;
	font-family: Helvetica, "Hiragino Sans GB", "Heiti SC", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-size: @font-m;
}

h1, h2, h3, h4, h5, h6, p, ol, ul, li, dl, dt, dd {
	margin: 0;
	padding: 0;
}

ul, ol {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: inherit;
}

// Layout

body {
	background-color: lighten(black, 10);
	padding: 26px 36px;
	
	@media only screen and (max-device-width: 480px) {
		padding: 0;
	}
}

.screen {
	overflow: hidden;
	position: relative;
	width: @screen-width;
	height: @screen-height;
	background-color: black;
	
	@media only screen and (max-device-width: 480px) {
		margin: 0;
		height: @screen-height - 20px;
	}
}

.status_bar {
	position: relative;
	height: 20px;
	font-size: 14px;
	line-height: 20px;
	color: white;
	font-weight: bold;
	text-align: center;
	background-color: black;
	
	@media only screen and (max-device-width: 480px) {
		display: none;
	}
}

.top {
	position: relative;
	height: 44px;
	background-color: white;
	border-radius: 7px 7px 0 0;
	
	.button {
		position: absolute;
		top: 7px;
		min-width: 28px;
		height: 30px;
		line-height: 30px;
		padding: 0 9px;
		font-size: @font-s;
		text-align: center;
		
		&.left {
			left: 5px;
		}
		&.right {
			right: 5px;
		}
		
		&.back {
		    margin-left: 12px;
		    padding-left: 5px;
		}
		&.back:before {
		    position: absolute;
		    top: 3px;
		    left: -9px;
		    -webkit-background-size: 22px 22px;
		    background-position: -2px -1.5px;
		    background-image: -webkit-gradient(linear, right top, left bottom,
		        from(lighten(@color-btn, 4)),
		        color-stop(0.49, @color-btn),
		        color-stop(0.49, darken(@color-btn, 2)),
		        to(darken(@color-btn, 4)));
		    height: 24px;
		    width: 24px;
		    -webkit-transform : rotate(-45deg) skew(-10deg, -10deg);
		    -webkit-border-top-right-radius: 100px 40px;
		    -webkit-border-top-left-radius: 30px 2px;
		    -webkit-border-bottom-right-radius: 2px 30px;
		    -webkit-border-bottom-left-radius: 40px 100px;
		    content: ' ';
		    box-shadow: inset 0 0 0 1px fade(black, 15), inset 0 1px 3px fade(black, 15), 0 0 0 1px fade(white, 50);
		    -webkit-mask-image: -webkit-gradient(linear, left top, right bottom,
		        from(#000000),
		        color-stop(0.45, #000000),
		        color-stop(0.55, transparent),
		        to(transparent));
		}
	}
	
	h1 {
		height: 44px;
		line-height: 44px;
		text-align: center;
		font-size: 19px;
	}
}

.button {
	text-shadow: 0 1px 1px fade(white, 75);
	background: -webkit-linear-gradient(lighten(@color-btn, 4), @color-btn 50%, darken(@color-btn, 2) 51%, darken(@color-btn, 4));
	box-shadow: inset 0 0 0 1px fade(black, 15), inset 0 1px 3px fade(black, 15), 0 0 0 1px fade(white, 50);
	border-radius: 5px;
}

.table {
	background-color: white;
	position: relative;
	-webkit-overflow-scrolling: touch;
	z-index: 11;
	overflow-y: scroll;
	border-bottom: 1px solid fade(black, 8);
	box-shadow: 0 1px 1px fade(white, 50);

	> li, > a > li {
		border-top: 1px solid fade(black, 8);
		box-shadow: inset 0 1px 1px fade(white, 50);
	} 
}
