<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ appname }}</title>
        <meta name="description" content="">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">

        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/img/touch/apple-touch-icon-144x144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/img/touch/apple-touch-icon-114x114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/img/touch/apple-touch-icon-72x72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="/static/img/touch/apple-touch-icon-57x57-precomposed.png">
        <link rel="shortcut icon" href="/static/img/touch/apple-touch-icon.png">
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css">
        <link rel="stylesheet" href="/static/css/font-awesome.css">
        <link rel="stylesheet" href="/static/css/fontdiao.css">

        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        <script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>

        <link rel="stylesheet" href="/static/css/basic.css">
        <link rel="stylesheet" href="/static/css/{{ pagename }}.css">
        {% block head %}{% endblock %}
        <script src="/static/js/vendor/jquery-1.8.3.min.js"></script>
        <script src="/static/js/vendor/jquery.mobile-1.2.0.min.js"></script>
        <script src="/static/js/helper.js"></script>
    </head>
    <body>
        <div class="screen" data-role="page">
        {% block screen %}{% endblock %}
        </div>
    </body>
</html>