{% extends "base.html" %}
{% block screen %}
            <div class="top" data-role="header" data-position="fixed">
                <a href="/" data-role="button" data-icon="arrow-l" data-direction="reverse" data-transition="slide" data-theme="a" data-prefetch>返回</a>
                <h1>联系人</h1>
                <a href="#" data-role="button" data-icon="star" data-theme="a">好友</a>
            </div>
            
            <div data-role="content">
                <div class="meta">
                    <img class="avatar" src="{{ user.avatar }}">
                    <p class="name">{{ user.get_full_name }}</p>
                </div>
                {% if socials %}
                <ul class="social" data-role="listview" data-split-theme="d">
                    <li data-role="list-divider" role="heading">社交</li>
                    {% for s in socials %}
                        <li>
                            <a href="{{ s.url }}"><i class="{{ s.icon }}"></i><span class="uname">{{ s.uname }}</span></a>
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}
                <ul class="contact" data-role="listview">
                    {% if contact_info %}
                    <li data-role="list-divider" role="heading">联系</li>
                    {% for item in contact_info %}
                    <li>
                        <p class="key"><i class="{% if item.type == 'Address' %}icon-map-marker{% elif item.type == 'Phone' %}icon-phone{% elif item.type == 'Email' %}icon-envelope{% endif %}"></i>
                        {{ item.key }}</p>
                        <p class="value">{{ item.value }}</p>
                    </li>
                    {% endfor %}
                    {% endif %}
                    <li class="map">
                        <div id="map" style="width:100%;height:320px"></div>
                    </li>
                </ul>
            </div>
            <script type="text/javascript">
            function initialize() {
              var map = new BMap.Map('map');
              map.centerAndZoom('合肥', 6);
              map.addControl(new BMap.NavigationControl());
              {% for location in locations %}
                  var marker = new BMap.Marker(new BMap.Point({{ location.x }}, {{ location.y }}));  // 创建标注
                  map.addOverlay(marker);              // 将标注添加到地图中
              {% endfor %}
            }

            function loadScript() {
                var script = document.createElement("script");
                script.src = "http://api.map.baidu.com/api?v=1.4&callback=initialize";
                document.body.appendChild(script);
            }

            window.onload = loadScript;
            </script>
{% endblock %}