{% extends "base.html" %}
{% block screen %}
            <div class="top" data-role="header" data-position="fixed">
                <a href="#" data-rel="back" data-role="button" data-icon="star" data-theme="a" class="ui-btn-left">返回</a>
                <h1>联系人</h1>
                <a href="#" data-role="button" data-icon="star" data-theme="a" class="ui-btn-right">好友</a>
            </div>
            
            <div data-role="content">
                <div class="meta">
                    <img class="avatar" src="{{ user.avatar }}">
                    <p class="name">{{ user.get_full_name }}</p>
                </div>
                <ul class="social" data-role="listview" data-split-theme="d">
                    <li data-role="list-divider" role="heading">社交</li>
                    <li class="social"><a href="renren.html">
                        <i class="icon-renren"></i>
                        <h3>柳东原</h3>
                        <p>好累，感觉不会再爱了……</p>
                    </a></li>
                </ul>
                <ul data-role="listview">
                    <li data-role="list-divider" role="heading">联系</li>
                    <li>
                        <p class="key">手机</p>
                        <p class="value">15267028600</p>
                    </li>
                    <li>
                        <p class="key">Email</p>
                        <p class="value">liu.dongyuan@gmail.com</p>
                    </li>
                    <li class="map">
                    大！地！图！百度！
                    </li>
                </ul>
            </div>
{% endblock %}