{% extends "base.html" %}
{% block head %}
<style>
</style>
{% endblock %}
{% block screen %}
            <div class="top" data-role="header" data-position="fixed">
                <a href="/" data-role="button" data-icon="arrow-l" data-direction="reverse" data-transition="slide" data-theme="a" data-prefetch>返回</a>
                <h1>联系人</h1>
                <a href="#" data-role="button" data-icon="star" data-theme="a">好友</a>
            </div>
            
            <div data-role="content">
                <div class="meta">
                    <img class="avatar" src="{{ user.avatar }}">
                    <p class="name">{{ user.get_full_name }}</p>
                </div>
                {% if socials %}
                <ul class="social" data-role="listview" data-split-theme="d">
                    <li data-role="list-divider" role="heading">社交</li>
                    {% for s in socials %}
                        <li class="social">
                            <a href="{{ s.url }}"><i class="{{ s.icon }}"></i>{{ s.uname }}</a>
                            <a href="#delete" data-rel="popup" data-position-to="window" data-transition="pop">解除绑定</a>
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}
                <ul data-role="listview">
                    {% if contact_info %}
                    <li data-role="list-divider" role="heading">联系</li>
                    {% for item in contact_info %}
                    <li>
                        <p class="key">{{ item.key }}</p>
                        <p class="value">{{ item.value }}</p>
                    </li>
                    {% endfor %}
                    {% endif %}
                    <li class="map">
                        <div id="map" style="width:100%;height:320px"></div>
                    </li>
                </ul>
            </div>
{% endblock %}