{% extends "base.html" %}
{% block data-url %}/find/{% endblock %}
{% block screen %}
            <div class="top" data-role="header" data-position="fixed">
                <a href="/" data-role="button" data-icon="arrow-l" data-direction="reverse" data-transition="slide" data-theme="a" data-prefetch>返回</a>
                <h1>查找好友</h1>
            </div>
            
            <div data-role="content">
            	<ul data-role="listview">
            		<li data-role="list-divider" role="heading">发送的好友请求</li>
                    {% for i in invites %}
                    <li>
                        <div class="ui-grid-b">
                            <div class="ui-block-a"><img width="80" src="{{ i.to_id.avatar }}"></div>
                            <div class="ui-block-b" style="font-size: 24px;">{{ i.to_id.get_full_name }}</div>
                            <div class="ui-block-c" style="padding-top: 2px; color: #999;">等待对方确认</div>
                        </div>
                    </li>
                    {% endfor %}
            	</ul>
            	
                <ul data-role="listview" style="margin-top: 10px;">
                    <li data-role="list-divider" role="heading">收到的好友请求</li>
                    {% for p in pendings %}
                    <li>
                        <div class="ui-grid-b">
                            <div class="ui-block-a"><img width="80" src="{{ p.from_id.avatar }}"></div>
                            <div class="ui-block-b">{{ p.from_id.last_name }} {{ p.from_id.first_name }}</div></a>
                            <div class="ui-block-c" style="padding-left: 18px;">
                                <a href="/invitation/accept/{{ p.from_id.id }}/" data-role="button" data-mini="true" data-inline="true" data-icon="check">接受</a>
                                <a href="/invitation/decline/{{ p.from_id.id }}/" data-role="button" data-mini="true" data-inline="true" data-icon="delete">拒绝</a></h3></a>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                <ul data-role="listview" style="margin-top: 10px;">
                    <li data-role="list-divider" role="heading">您可能认识…</li>
                    {% for uid, udata in guess.items %}
                    <li>
                        <div class="ui-grid-b">
                            <div class="ui-block-a"><img width="80" src="{{ udata.user.avatar }}"></div>
                            <div class="ui-block-b">
                                <span style="font-size: 22px;">{{ udata.user.get_full_name }}</span><br>
                                <span>{% for ic in udata.icons %}<i style="font-size: 32px;" class="{{ ic }}"></i>{% endfor %}</span>
                            </div>
                            <div class="ui-block-c" style="margin-left: -6px;"><a href="/invitation/add/{{ uid }}/" data-role="button" data-mini="true" data-inline="true" data-icon="star">加为好友</a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
{% endblock %}