{% extends "base.html" %}
{% block head %}
<style>
</style>
{% endblock %}
{% block screen %}
            <div class="top" data-role="header" data-position="fixed">
                <a href="/" data-role="button" data-icon="arrow-l" data-direction="reverse" data-transition="pop" data-theme="a" data-prefetch>返回</a>
                <h1>管理分组</h1>
            </div>
            
            <div data-role="content">
                <ul data-role="listview">
                    {% for item in data %}
        			<li><a href="/group/{{item.category.pk}}/" data-transition="slide">
        				<h3>{{ item.category.name }}</h3>
                        <p>
                        {% for friend in item.friends %}
        				    {{ friend.to_id.get_full_name }}
                        {% endfor %}
                            等 12 个好友…
                        </p>
        			</a></li>
                    {% endfor %}
        		</ul>
            </div>
{% endblock %}