{% extends "base.html" %}
{% block head %}
<style>
</style>
{% endblock %}
{% block screen %}
            <div class="top" data-role="header" data-position="fixed">
                <a href="/" data-role="button" data-icon="arrow-l" data-direction="reverse" data-transition="pop" data-theme="a" data-prefetch>返回</a>
                <h1>管理分组</h1>
            </div>
            
            <div data-role="content">
                <ul data-role="listview">
                    {% for item in data %}
        			<li><a href="/group/{{item.category.pk}}/" data-transition="slide">
        				<h3>{{ item.category.name }}</h3>
                        <p>
                        {% for friend in item.friends %}
        				    {{ friend.to_id.get_full_name }}
                        {% endfor %}
                            等 12 个好友…
                        </p>
        			</a></li>
                    {% endfor %}
                    <li><a href="/group/1/">
                        <h3>同学</h3>
                        <p>闫铮、马儒潇 等 12 个好友…</p>
                    </a></li>
        			<li><a href="/group/1/">
        				<h3>朋友</h3>
        				<p>张三、李四 等 9 个好友…</p>
        			</a></li>
        			<li><a href="#popup_addgroup" data-rel="popup">添加一个分组…</a></li>
        			
        			<div data-role="popup" class="popup_addgroup_form" id="popup_addgroup" data-theme="a" data-position-to="window">
        			    <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
        				<form action="/me/" method="post">{% csrf_token %}
        			        <h3>添加分组</h3>
        			        <input type="hidden" name="type" value="Group">
        			        <input type="hidden" name="action" value="add">
        			        <input id="group_key" type="text" name="key" value="" placeholder="名称">
        			        <button type="submit" data-theme="b">添加</button>
        				</form>
        			</div>
        		</ul>
            </div>
{% endblock %}