{% extends "base.html" %}
{% block head %}
<style>
</style>
{% endblock %}
{% block screen %}
            <div class="top" data-role="header" data-position="fixed">
                <a href="/group/" data-role="button" data-icon="arrow-l" data-direction="reverse" data-transition="slide" data-theme="a" data-prefetch>返回</a>
                <h1>设置 朋友 组</h1>
                <a href="#" data-role="button" onclick="$('#privilege_form').submit();">提交</a>
            </div>
            
            <div class="ui-bar ui-bar-e">
            	<h3>更改权限后，请点击右上角按钮提交。</h3>
            </div>
            
            <div data-role="content">
            <form id="privilege_form" method="post" action="">
                <ul data-role="listview">
                    <li data-role="list-divider" role="heading">社交</li>
                    <li data-role="list-divider" role="heading">联系</li>
                    <li>
                        <p class="key">手机</p>
                        <p class="value">15267028600</p>
                        <select name="" data-role="slider">
                        	<option value="false">不可见</option>
                        	<option value="true">可见</option>
                        </select> 
                    </li>
                 </ul>
            </form>
            </div>
{% endblock %}