{% extends "base.html" %}
{% block data-url %}/group/{{ category.id }}/{% endblock %}
{% block screen %}
            <div class="top" data-role="header" data-position="fixed">
                <a href="/group/" data-role="button" data-icon="arrow-l" data-direction="reverse" data-transition="slide" data-theme="a" data-prefetch>返回</a>
                <h1>设置 {{ category.name }} 组</h1>
                <a href="#" data-role="button" onclick="$('#privilege_form').submit();">提交</a>
            </div>
            
            <div class="ui-bar ui-bar-e">
            	<h3>更改权限后，请点击右上角按钮提交。</h3>
            </div>
            
            <div data-role="content">
            <form id="privilege_form" method="post" action="">{% csrf_token %}
                <ul data-role="listview">
                    <li data-role="list-divider" role="heading">社交</li>
                    {% for s in social_data %}
                    <li class="social">
                        <div data-role="fieldcontain">
                            <label><i class="{{ s.social.icon }}"></i>{{ s.social.uname }}</label>
                            <select name="{{ s.social.type }}{{ s.social.uid }}" data-role="slider" data-mini="true">
                                {% if s.enabled %}
                                <option value="false">不可见</option>
                                <option value="true" selected>可见</option>
                                {% else %}
                                <option value="false" selected>不可见</option>
                                <option value="true">可见</option>
                                {% endif %}
                            </select>
                        </div>
                    </li>
                    {% endfor %}
                    <li data-role="list-divider" role="heading">联系</li>
                    {% for item in data %}
                    <li>
                        <div data-role="fieldcontain">
                            <label>
                                <span class="key"><i class="{% if item.info.type == 'Address' %}icon-map-marker{% elif item.info.type == 'Phone' %}icon-phone{% elif item.info.type == 'Email' %}icon-envelope{% endif %}"></i>{{ item.info.key }}</span><br>
                                <span class="value">{{ item.info.value }}</span>
                            </label>
                            <select name="{{ item.info.info_id }}" data-role="slider" data-mini="true">
                                {% if item.enabled %}
                                <option value="false">不可见</option>
                                <option value="true" selected>可见</option>
                                {% else %}
                                <option value="false" selected>不可见</option>
                                <option value="true">可见</option>
                                {% endif %}
                            </select> 
                        </div>
                    </li>
                    {% endfor %}
                 </ul>
            </form>
            </div>
{% endblock %}