{% extends "base.html" %}
{% block screen %}
            <div class="top" data-role="header">
                <a href="/me/" data-role="button" data-icon="star" data-theme="e" data-transition="slide" data-prefetch class="ui-btn-left">我</a>
                <!--<h1><input id="search_friend" type="search" placeholder="搜索好友…" data-role="none"></h1>-->
                <a href="#popup_menu" data-role="button" data-rel="popup" data-theme="b">更多</a>
                
                <div data-role="popup" id="popup_menu">
                	<ul data-role="listview" data-inset="true" data-theme="c">
                        <li><a href="/group/" data-transition="pop">管理分组</a></li>
                        <li><a href="/map/" data-transition="pop">好友地图</a></li>
                        <li><a href="/logout/" data-transition="pop">登出</a></li>
                	</ul>
                </div>
            </div>
            <div data-role="content">
                <ul data-role="listview" data-filter="true" data-filter-placeholder="搜索好友…" >
                {% for user in users %}
                    <li data-filtertext="{{ user.pinyin }}"><a href="/contact/{{ user.pk }}" data-transition="slide">
                        <img src="{{ user.avatar }}">
                        <h3><span class="last">{{ user.last_name }}</span> <span class="first">{{ user.first_name }}</span></h3>
                    </a></li>
                {% endfor %}
                </ul>
            </div>
{% endblock %}