{% extends "base.html" %}
{% block screen %}
            <div class="top" data-role="header">
                <a href="/me" data-role="button" data-icon="star" data-theme="a">Me</a>
                <h1>Search</h1>
<!--                <input class="search" type="search" name="search" value="" placeholder="过滤联系人…">-->
                <a href="#popup_menu" data-role="button" data-rel="popup">More</a>
                
                <div data-role="popup" id="popup_menu">
                	<ul data-role="listview" data-inset="true" data-theme="c">
                        <li><a href="/group/" data-transition="pop">管理分组</a></li>
                        <li><a href="/map/" data-transition="pop">好友地图</a></li>
                        <li><a href="/logout/" data-transition="pop">登出</a></li>
                	</ul>
                </div>
            </div>
            <div data-role="content">
                {% for user in users %}
                <ul data-role="listview">
                    <li><a href="/contact/{{ user.pk }}" data-transition="slide">
                        <img class="avatar ui-li-thumb" src="{{ user.avatar }}">
                        <h3 class="name ui-li-heading"><span class="last">{{ user.last_name }}</span> <span class="first">{{ user.first_name }}</span></h3>
                    </a></li>
                </ul>
                {% endfor %}
            </div>
{% endblock %}