{% extends "base.html" %}
{% block data-url %}/map/{% endblock %}
{% block screen %}
            <div class="top" data-role="header" data-position="fixed">
                <a href="/" data-role="button" data-icon="arrow-l" data-direction="reverse" data-transition="slide" data-theme="a" data-prefetch>返回</a>
                <h1>好友地图</h1>
                <div id="map" style="width:100%;height:640px;"></div>
            </div>
	        <script type="text/javascript">
	        function initialize() {
	          var map = new BMap.Map('map');
	          var point = new BMap.Point({{ x }}, {{ y }});
	          map.centerAndZoom(point, 6);
	          map.addControl(new BMap.NavigationControl());
	          {% for location in locations %}					

		          var marker = new BMap.Marker(new BMap.Point({{ location.x }}, {{ location.y }}));  // 创建标注
		          var label = new BMap.Label("{{ location.name }}",{offset:new BMap.Size(20,-10)});
		          marker.setLabel(label);
				  map.addOverlay(marker);              // 将标注添加到地图中

				  marker.addEventListener("click",function(e){
    				location.href = "/contact/{{ location.user_pk }}/";
				  });

			  {% endfor %}
	        }

	        $(document).ready(function loadScript() {
	          var script = document.createElement("script");
	          script.src = "http://api.map.baidu.com/api?v=1.4&callback=initialize";
	          document.body.appendChild(script);
	        });
	        </script>
{% endblock %}