{% extends "base.html" %}
{% block screen %}
            <div class="top" data-role="header" data-position="fixed">
                <a href="#" data-rel="back" data-role="button" data-icon="star" data-theme="a" class="ui-btn-left">返回</a>
                <h1>我的名片</h1>
            </div>
            
            <div data-role="content">
                <div class="meta">
                    <img class="avatar" src="{{ user.avatar }}">
                    <p class="name">{{ user.get_full_name }}</p>
                </div>
                <ul class="social" data-role="listview" data-split-icon="delete" data-split-theme="d">
                    <li data-role="list-divider" role="heading">社交</li>
                    {% for s in socials %}
                        <li class="social">
                            <a href="{{ s.url }}"><i class="{{ s.icon }}"></i>{{ s.uname }}</a>
                            <a href="#delete" data-rel="popup" data-position-to="window" data-transition="pop">解除绑定</a>
                        </li>
                    {% endfor %}
                    <li class="social">
                        <a href="#popup_addsocial" data-rel="popup"><i class="icon-plus"></i>添加其他社交网络帐号…</a>
                    </li>
                </ul>
                <div data-role="popup" id="popup_addsocial">
                	<ul data-role="listview" data-inset="true" data-theme="c">
                    	<li><a href="/conns/renren_connect" data-transition="pop" data-ajax="false">人人网</a></li>
                    	<li><a href="/conns/weibo_connect" data-transition="pop" data-ajax="false">新浪微博</a></li>
                    	<li><a href="/conns/tqq_connect" data-transition="pop" data-ajax="false">腾讯微博</a></li>
                    	<li><a href="/conns/jiepang_connect" data-transition="pop" data-ajax="false">街旁</a></li>
                    	<li><a href="/conns/facebook_connect" data-transition="pop" data-ajax="false">Facebook</a></li>
                    	<li><a href="/conns/github_connect" data-transition="pop" data-ajax="false">GitHub</a></li>
                	</ul>
                </div>
                <ul class="contact" data-role="listview" data-split-icon="gear" data-split-theme="d">
                    <li data-role="list-divider" role="heading">联系</li>
                    <li>
                        <p class="key">手机</p>
                        <p class="value">15267028600</p>
                    </li>
                    <li>
                        <p class="key">Email</p>
                        <p class="value">liu.dongyuan@gmail.com</p>
                    </li>
                    <li class="map">
                    大！地！图！百度！
                    </li>
                </ul>
            </div>
{% endblock %}
