{% extends "base.html" %}
{% block screen %}
            <div class="top" data-role="header" data-position="fixed">
                <a href="/" data-role="button" data-icon="arrow-l" data-direction="reverse" data-transition="slide" data-theme="a" data-prefetch>返回</a>
                <h1>我的名片</h1>
            </div>
            
            <div data-role="content">
                <div class="meta">
                    <img class="avatar" src="{{ user.avatar }}">
                    <p class="name">{% if user.get_full_name %}
                        {{ user.get_full_name }}
                    {% else %}您的姓名{% endif %}</p>
                    <p><a href="index.html" data-role="button" data-icon="gear" data-iconpos="left" data-mini="true" data-inline="true">编辑</a></p>
                </div>
                <ul class="social" data-role="listview" data-split-icon="delete" data-split-theme="d">
                    <li data-role="list-divider" role="heading">社交</li>
                    {% for s in socials %}
                        <li class="social">
                            <a href="{{ s.url }}"><i class="{{ s.icon }}"></i>{{ s.uname }}</a>
                            <a href="#delete" data-rel="popup" data-position-to="window" data-transition="pop">解除绑定</a>
                        </li>
                    {% endfor %}
                    <li class="social">
                        <a href="#popup_addsocial" data-rel="popup"><i class="icon-plus"></i>添加社交网络帐号…</a>
                    </li>
                </ul>
                <div data-role="popup" id="popup_addsocial">
                	<ul data-role="listview" data-inset="true" data-theme="c">
                    	<li><a href="/conns/renren_connect" data-transition="pop" data-ajax="false">人人网</a></li>
                    	<li><a href="/conns/weibo_connect" data-transition="pop" data-ajax="false">新浪微博</a></li>
                    	<li><a href="/conns/tqq_connect" data-transition="pop" data-ajax="false">腾讯微博</a></li>
                    	<li><a href="/conns/jiepang_connect" data-transition="pop" data-ajax="false">街旁</a></li>
                    	<li><a href="/conns/github_connect" data-transition="pop" data-ajax="false">GitHub</a></li>
                	</ul>
                </div>
                <div data-role="popup" id="popup_addcontact">
                	<ul data-role="listview" data-inset="true" data-theme="c">
                    	<li><a href="#popup_addcontact_phone" data-rel="popup">电话号码</a></li>
                    	<li><a href="#popup_addcontact_email" data-rel="popup">Email</a></li>
                    	<li><a href="#popup_addcontact_address" data-rel="popup">地址</a></li>
                	</ul>
                </div>
                <div data-role="popup" class="popup_addcontact_form" id="popup_addcontact_phone" data-theme="a">
        			<form action="/me/" method="post">
                        <h3>添加电话号码</h3>
                        <input type="hidden" name="type" value="Phone" />
                        <input type="hidden" name="action" value="add" />
                        <fieldset data-role="controlgroup" data-type="horizontal">
                            <select name="key">
                                <option value="手机">手机</option>
                                <option value="家庭">家庭</option>
                                <option value="工作">工作</option>
                                <option>自定义</option>
                            </select>
                            <input type="tel" name="value" placeholder="号码" data-theme="a" />
                        </fieldset>
                        <button type="submit" data-theme="b">添加</button>
        			</form>
        		</div>
                <ul class="contact" data-role="listview" data-split-icon="gear" data-split-theme="d">
                    <li data-role="list-divider" role="heading">联系</li>
                    {% for item in contact_info %}
                    <li>
                        <a><p class="key">{{ item.key }}</p>
                        <p class="value">{{ item.value }}</p></a>
                        <a href="#edit" data-rel="popup" data-position-to="window" data-transition="pop">修改</a>
                    </li>
                    {% endfor %}
                    <li>
                        <a href="#popup_addcontact" data-rel="popup">添加联系方式…</a>
                    </li>
                    <li class="map">
                    大！地！图！百度！
                    </li>
                </ul>
            </div>
{% endblock %}
