{% extends "base.html" %}
{% block screen %}
            <div class="top" data-role="header" data-position="fixed">
                <a href="/" data-role="button" data-icon="arrow-l" data-direction="reverse" data-transition="slide" data-theme="a" data-prefetch>返回</a>
                <h1>我的名片</h1>
            </div>
            
            <div data-role="content">
                <div class="meta">
                    <img class="avatar" src="{{ user.avatar }}">
                    <p class="name">{% if user.get_full_name %}
                        {{ user.get_full_name }}
                    {% else %}您的姓名{% endif %}</p>
                    <p><a href="#popup_edit" data-role="button" data-icon="gear" data-rel="popup" data-iconpos="left" data-mini="true" data-inline="true">编辑</a></p>
                </div>
                <div data-role="popup" class="popup_edit_form" id="popup_edit" data-theme="a" data-position-to="window">
                    <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
                	<form action="/me/" method="post">{% csrf_token %}
                        <h3>修改姓名</h3>
                        <input type="hidden" name="type" value="Edit">
                        <input type="hidden" name="action" value="add">
                        <input id="group_key" type="text" name="last_name" value="" placeholder="姓">
                        <input id="group_key" type="text" name="first_name" value="" placeholder="名">
                        <button type="submit" data-theme="b">修改</button>
                	</form>
                </div>
                
                <ul class="social" data-role="listview" data-split-icon="delete" data-split-theme="d">
                    <li data-role="list-divider" role="heading">社交</li>
                    {% for s in socials %}
                        <li>
                            <a href="{{ s.url }}"><i class="{{ s.icon }}"></i>{{ s.uname }}</a>
                            <a href="#delete" data-rel="popup" data-position-to="window" data-transition="pop">解除绑定</a>
                        </li>
                    {% endfor %}
                    <li>
                
                        <a href="#popup_addsocial" data-rel="popup"><i class="icon-plus"></i><span class="uname">添加社交网络帐号…</span></a>
                    </li>
                </ul>
                <div data-role="popup" id="popup_addsocial">
                	<ul data-role="listview" data-inset="true" data-theme="c">
                    	<li><a href="/conns/renren_connect" data-transition="pop" data-ajax="false">人人网</a></li>
                    	<li><a href="/conns/weibo_connect" data-transition="pop" data-ajax="false">新浪微博</a></li>
                    	<li><a href="/conns/tqq_connect" data-transition="pop" data-ajax="false">腾讯微博</a></li>
                    	<li><a href="/conns/jiepang_connect" data-transition="pop" data-ajax="false">街旁</a></li>
                    	<li><a href="/conns/github_connect" data-transition="pop" data-ajax="false">GitHub</a></li>
                	</ul>
                </div>
                <div data-role="popup" id="popup_addcontact">
                	<ul data-role="listview" data-inset="true" data-theme="c">
                    	<li><a href="#popup_addcontact_phone" data-rel="popup">电话号码</a></li>
                    	<li><a href="#popup_addcontact_email" data-rel="popup">Email</a></li>
                    	<li><a href="#popup_addcontact_address" data-rel="popup">地址</a></li>
                    	<li><a href="#popup_addcontact_other" data-rel="popup">自定义</a></li>
                	</ul>
                </div>
                <div data-role="popup" class="popup_addcontact_form" id="popup_addcontact_phone" data-theme="a" data-position-to="window">
                    <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
        			<form action="/me/" method="post">{% csrf_token %}
                        <h3>添加电话号码</h3>
                        <input type="hidden" name="type" value="Phone">
                        <input type="hidden" name="action" value="add">
                        <script>
                        $(document).ready(function() {
                            $("#phone_select_key").change(function() {
                                if (!$(this).val()) {
                                    $('#phone_custom_key').show();
                                } else {
                                    $('#phone_custom_key').hide();
                                }
                            });
                        });
                        </script>
                        <select id="phone_select_key" name="key">
                            <option value="手机">手机</option>
                            <option value="家庭">家庭</option>
                            <option value="工作">工作</option>
                            <option value="">自定义</option>
                        </select>
                        <input id="phone_custom_key" type="text" name="key_custom" value="" placeholder="名称" style="display: none;">
                        <input type="tel" name="value" placeholder="号码" data-theme="a">
                        <button type="submit" data-theme="b">添加</button>
        			</form>
        		</div>
        		<div data-role="popup" class="popup_addcontact_form" id="popup_addcontact_email" data-theme="a" data-position-to="window">
        		    <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
        			<form action="/me/" method="post">{% csrf_token %}
        		        <h3>添加 Email</h3>
        		        <input type="hidden" name="type" value="Email">
        		        <input type="hidden" name="action" value="add">
        		        <script>
        		        $(document).ready(function() {
        		            $("#email_select_key").change(function() {
        		                if (!$(this).val()) {
        		                    $('#email_custom_key').show();
        		                } else {
        		                    $('#email_custom_key').hide();
        		                }
        		            });
        		        });
        		        </script>
        		        <select id="email_select_key" name="key">
        		            <option value="Email">Email</option>
        		            <option value="家庭">家庭</option>
        		            <option value="工作">工作</option>
        		            <option value="">自定义</option>
        		        </select>
        		        <input id="email_custom_key" type="text" name="key_custom" value="" placeholder="名称" style="display: none;">
        		        <input type="email" name="value" placeholder="Email" data-theme="a">
        		        <button type="submit" data-theme="b">添加</button>
        			</form>
        		</div>
        		<div data-role="popup" class="popup_addcontact_form" id="popup_addcontact_address" data-theme="a" data-position-to="window">
        		    <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
        			<form action="/me/" method="post">{% csrf_token %}
        		        <h3>添加地址</h3>
        		        <input type="hidden" name="type" value="Address">
        		        <input type="hidden" name="action" value="add">
        		        <script>
        		        $(document).ready(function() {
        		            $("#address_select_key").change(function() {
        		                if (!$(this).val()) {
        		                    $('#address_custom_key').show();
        		                } else {
        		                    $('#address_custom_key').hide();
        		                }
        		            });
        		        });
        		        </script>
        		        <select id="address_select_key" name="key">
        		            <option value="家庭">家庭</option>
        		            <option value="工作">工作</option>
        		            <option value="">自定义</option>
        		        </select>
        		        <input id="address_custom_key" type="text" name="key_custom" value="" placeholder="名称" style="display: none;">
        		        <input type="tel" name="value" placeholder="地址" data-theme="a">
        		        <button type="submit" data-theme="b">添加</button>
        			</form>
        		</div>
        		<div data-role="popup" class="popup_addcontact_form" id="popup_addcontact_other" data-theme="a" data-position-to="window">
        		    <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
        			<form action="/me/" method="post">{% csrf_token %}
        		        <h3>添加自定义联系方式</h3>
        		        <input type="hidden" name="type" value="Other">
        		        <input type="hidden" name="action" value="add">
        		        <input id="other_custom_key" type="text" name="key" value="" placeholder="名称">
        		        <input type="tel" name="value" placeholder="内容" data-theme="a">
        		        <button type="submit" data-theme="b">添加</button>
        			</form>
        		</div>
        		
        		
        		<script>
        		$(document).ready(function() {
        		    $(".delete_item").click(function() {
        		        if (confirm("确定删除这条联系方式么？")) {
        		            $("#delete_info_id").val($(this).attr("data-info_id"));
        		            $("#delete_form").submit();
        		        } else {
        		            return false;
        		        }
        		    });
        		});
        		</script>
        		<form method="post" action="/me/" hidden="true" id="delete_form">{% csrf_token %}
        		    <input type="hidden" name="action" value="delete">
        		    <input type="hidden" id="delete_info_id" name="info_id" value="">
        		</form>
                <ul class="contact" data-role="listview" data-split-icon="delete" data-split-theme="d">
                    <li data-role="list-divider" role="heading">联系</li>
                    {% for item in contact_info %}
                    <li>
                        <a><p class="key"><i class="{% if item.type == 'Address' %}icon-map-marker{% elif item.type == 'Phone' %}icon-phone{% elif item.type == 'Email' %}icon-envelope{% endif %}"></i>
                        {{ item.key }}</p>
                        <p class="value">{{ item.value }}</p></a>
                        <a href="#" class="delete_item" data-info_id="{{ item.info_id }}">删除</a>
                    </li>
                    {% endfor %}
                    <li>
                        <a href="#popup_addcontact" data-rel="popup">添加联系方式…</a>
                    </li>
                    <li class="map">
                        <div id="map" style="width:100%;height:320px"></div>
                    </li>
                </ul>
            </div>
            <script type="text/javascript">
            function initialize() {
              var map = new BMap.Map('map');
              map.centerAndZoom('合肥', 6);
              map.addControl(new BMap.NavigationControl());
              {% for location in locations %}
                  var marker = new BMap.Marker(new BMap.Point({{ location.x }}, {{ location.y }}));  // 创建标注
                  map.addOverlay(marker);              // 将标注添加到地图中
              {% endfor %}
            }

            function loadScript() {
              var script = document.createElement("script");
              script.src = "http://api.map.baidu.com/api?v=1.4&callback=initialize";
              document.body.appendChild(script);
            }

            window.onload = loadScript;
            </script>
{% endblock %}
