{% extends "base.html" %}
{% block data-url %}/welcome/{% endblock %}
{% block screen %}
            <div class="top" data-role="header" data-position="fixed">
                <h1>欢迎来到{{ appname }}！</h1>
            </div>
            
            {% if message %}
            <div class="ui-bar ui-bar-e">
            	<h3>{{ message }}</h3>
            </div>
            {% endif %}

            <script>
            $("document").ready(function() {
                $("#reg").click(function() {
                    $(this).hide();
                    $("#login").show();
                    $("#action").val("reg");
                    $("#submit").val("注册");
                    $(".firstname").show();
                    $(".lastname").show();
                    $(".reg").show();
                    $(".login").hide();
                });
                $("#login").click(function() {
                    $(this).hide();
                    $("#reg").show();
                    $("#action").val("login");
                    $("#submit").val("登录");
                    $(".firstname").hide();
                    $(".lastname").hide();
                    $(".reg").hide();
                    $(".login").show();
                });
            });
            </script>
            <div data-role="content">
                <form method="post" action="/welcome/">{% csrf_token %}
                    <input type="hidden" id="action" name="action" value="login">
                    <label for="username" class="ui-hidden-accessible">Email</label>
                    <input type="email" name="username" id="username" value="" placeholder="Email">
                    <label for="password" class="ui-hidden-accessible">密码</label>
                    <input type="password" name="password" id="password" value="" placeholder="密码">
                    <div class="lastname" style="display: none;"><input type="text" class="sidebyside" name="lastname" placeholder="姓"></div>
                    <div class="firstname" style="display: none;"><input type="text" class="sidebyside" name="firstname" placeholder="名"></div>
                    <div class="login"><input data-theme="e" id="submit_login" type="submit" value="登录"></div>
                    <div class="reg" style="display: none;"><input data-theme="e" id="submit_reg" type="submit" value="注册"></div>
                    <a href="#" id="reg">还未注册？</a>
                    <a href="#" id="login" hidden="true">已经注册？</a>
                </form>
            </div>
{% endblock %}