@import "global.less";

.search {
    position: absolute;
    top: 6px;
    left: 68px;
    width: 184px;
    padding: 4px 10px;
    font-size: 14px;
    border-color: #bbb;
}

.screen > .table {
	height: @screen-height - 20px - 44px;
	li {
		position: relative;
		padding: 4px 0 2px 4px;
		.avatar {
			width: 54px;
			border-radius: 4px;
			display: inline-block;
		}
		.name {
			position: absolute;
			top: 12px;
			left: 66px;
			font-size: @font-l;
		}
	}
}